[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
airtable-python-wrapper = "*"
django = "*"
flake8 = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
